name = "typecho-cf"
main = "@astrojs/cloudflare/entrypoints/server"
compatibility_date = "2026-04-21"
compatibility_flags = [ "nodejs_compat" ]

[assets]
directory = "dist"
binding = "ASSETS"

[[d1_databases]]
binding = "DB"
database_name = "typecho-cf-db"
database_id = "<YOUR_D1_DATABASE_ID>"
migrations_dir = "drizzle"

[[r2_buckets]]
binding = "BUCKET"
bucket_name = "typecho-cf-uploads"

[observability]
[observability.logs]
enabled = true
invocation_logs = false
persist = false

[observability.traces]
enabled = false
